 .grid
   {
    display: grid;
    grid-template-columns: repeat(3,480px);  
    /* 3 columns */
    grid-template-rows: repeat(2,350px); 
    /* 3 rows  */
    /* grid-gap:50px 30px;  */
    /* 50 pixels of space added between rows and 30 pixels added between columns  */
   
    /* grid-gap: 50px; */
    
  }
  
  .grid__item{
    /* border:thin gray solid; */
    padding:10px;
  }
 
  .div__container--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    
    background: url("http://skywarriorthemes.com/orizon/blue/images/hot_news_bg.jpg") center top repeat-x #181818;
    margin: 0px 0px 0px 1px;
    border: 1px solid #303030;
    border-bottom: 0px;
    position: relative;
  }
  .img--width {
    width: 100%;
    height: 100%;
  }
  .btn__view-more {
    background-color: #00bcd4;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 10px;
  }
  .link__view-more{
    margin-top: 20px;
  }
  .box__container li h2{
    text-shadow: 0px 2px 1px rgb(0 0 0);
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    color: #2ac0ff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
  }
  .box__container li{
    width: 400px;
    height: 270px;
    background: url("http://skywarriorthemes.com/orizon/blue/images/hn_box_bg.png") repeat-x top left #1f1f1f;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin: 0px 15px 0px 5px;
    padding: 10px 0px 0px 15px;
    border: 1px solid #223a4c;
    -webkit-box-shadow: 0px 2px 5px 2px rgb(0 0 0);
    box-shadow: 0px 2px 5px 2px rgb(0 0 0);
    list-style: none;
  }

  .gridgame__image {
    width: 45%;
    height: 200px;
    border: 3px solid #22394c;
    background-color: #1f1f1f;
    -webkit-box-shadow: 0px 2px 3px 1px rgb(0 0 0);
    box-shadow: 0px 2px 3px 1px rgb(0 0 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
  }
  .gridgame__content{
 display: flex;
 flex-direction: column;
 align-self: flex-end;
 justify-content: center;
 padding-right: 15px;
 height: 200px;

  }
  .description--justify {
    text-align: justify;
    margin-top: 0px;
    color: #99cccc;
    font-size: 14px;
    height: 160px;
  }

 .btn__readmore {
 list-style: none;
 display: block;
 background-image: -webkit-linear-gradient(top, #173247, #1e1f21);
 border: 1px solid #2f3c45;
 border-radius: 5px;
 box-shadow: 0 1px 3px #000;
 color: #3b9fc1;
 font: bold 20px/1 helvetica, arial, sans-serif;
 padding: 8px 0 10px 0;
 text-align: center;
 text-decoration: none;
 text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
 font-size: 11px;
 /* width: 85px; */
 /* -webkit-transition: all 0.35s ease-in-out; */
 float: left;
 padding: 10px;
 /* margin: 30px 0px 0xp 0px; */
 margin-bottom: -5px;
 position:relative;
 }

 .btn__readmore:hover {
  background-image: -webkit-linear-gradient(top, #1e1f21, #173247);
  color: #99cccc;
 }