 .grid
   {
    display: grid;
    grid-template-columns: repeat(3,480px);  
    /* 3 columns */
    grid-template-rows: repeat(2,350px); 
    /* 3 rows  */
    /* grid-gap:50px 30px;  */
    /* 50 pixels of space added between rows and 30 pixels added between columns  */
   
    grid-gap: 50px;
    
  }
  
  .grid__item{
    border:thin gray solid;
    padding:10px;
  }
 
  .div__container--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .img--width {
    width: 100%;
    height: 100%;
  }
  .btn__view-more {
    background-color: #00bcd4;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 10px;
  }
  .link__view-more{
    margin-top: 20px;
  }
  