.header {
    padding: 10px 20px 0px 20px;
    height: 55px;
    margin-bottom: 20px;
    float: left;
    margin-left: 5%;
    top: 0;
}
h1 {
    text-shadow: 0px 1px 3px rgb(0 0 0);
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    color: #fff;
    display: block;
    width: 90%;
    float: left;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #23313c;
    padding: 7px 0px 10px 25px;
    background: url("http://skywarriorthemes.com/orizon/blue/images/hbullet.png") left top no-repeat;
    margin: 0px 0px 0px 0px;
}
.logo__hahalolo{
    color: #2ac0ff;
}