.details-game__image {
  /* margin: ; */
  /* background: url("http://skywarriorthemes.com/orizon/blue/images/post/bg_img.png") */
  /* top left no-repeat; */
  width: 100%;
  height: 50%;
  border: 0;
  /* float: left; */

  /* position: relative; */
  object-fit: cover;
  margin-top: 20px;
  border-radius: 10px;
}
.details-game__description {
  text-align: justify;
  margin-bottom: 15px;
  white-space: pre-wrap;
}
