 :root{
  --night-background:  url("http://skywarriorthemes.com/orizon/blue/images/hot_news_bg.jpg") center top repeat-x #181818;
  --shining-background: #fff;
  --night-backgroundbox:  url("http://skywarriorthemes.com/orizon/blue/images/hn_box_bg.png") repeat-x top left #1f1f1f;
  --shining-backgroundbox: #fff;
  --night-webkit-box-shadow: 0px 2px 5px 2px rgb(0 0 0);
  --night-boxcontainer-box-shadow: 0px 2px 5px 2px rgb(0, 0, 0);
  --shining-boxcontainer-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --night-boxcontainer-border: 1px solid #223a4c;
  --shining-boxcontainer-border: 1px solid #fff;
  --night-background-button-readdetail:  -webkit-linear-gradient(top, #173247, #1e1f21);
  --shining-background-button-readdetail-hover:  -webkit-linear-gradient(top, #1e1f21, #173247);
  --shining-background-button-readdetail:  -webkit-linear-gradient(top, #40c5ff, #1c98ff);
  --shining-background-button-readdetail-hover:  -webkit-linear-gradient(top, #1c98ff, #40c5ff);
  --shining-boder-button-readdetail: 1px solid #1f96c8;
  --night-boder-button-readdetail: 1px solid #2f3c45;
  --shining-color-button-readdetail: #f1f1f1;
  --night-color-button-readdetail: #3b9fc1;
  --night-border-image-grid:  3px solid #22394c;
  --shining-border-image-grid:  3px solid rgb(255, 255, 255);
  --night-color-decripstion-grid: #99cccc;
  --shining-color-decripstion-grid: #666;
 }

 .grid
   {
    display: grid;
    grid-template-columns: repeat(3,480px);  
    /* 3 columns */
    grid-template-rows: repeat(2,350px); 
    justify-items: center;
    margin-bottom: 30px;
    /* 3 rows  */
    /* grid-gap:50px 30px;  */
    /* 50 pixels of space added between rows and 30 pixels added between columns  */
   
    /* grid-gap: 50px; */
    
  }
  
  .grid__item{
    /* border:thin gray solid; */
    padding:10px;
  }
 
  .div__container--flex {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    /* che do toi */
    background: var(--shining-background);
    margin: 0px 0px 0px 1px;
    border: 1px solid #303030;
    border-bottom: 0px;
    position: relative;
  }

  .box__container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .img--width {
    width: 100%;
    height: 100%;
  }
  .btn__view-more {
    background-color: #00bcd4;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 10px;
  }
  .link__view-more{
    margin-top: 20px;
  }
  .box__container li h2{
    /* text-shadow: 0px 2px 1px rgb(0 0 0); */
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    color: #2ac0ff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
  }
  .box__container li{
    width: 400px;
    height: 270px;
    background: var(--shining-backgroundbox);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin: 0px 0px 0px 5px;
    padding: 10px 0px 0px 15px;
    border:var(--shining-boxcontainer-border) ;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(80, 145, 242, 0.312);
    box-shadow: var(--shining-boxcontainer-box-shadow);
    list-style: none;
  }

  .gridgame__image {
    width: 45%;
    height: 200px;
    border: var(--night-border-image-grid);
    background-color: #1f1f1f;
    -webkit-box-shadow: 0px 2px 3px 1px rgb(0 0 0);
    box-shadow: 0px 2px 3px 1px rgb(0 0 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
  }
  .gridgame__content{
 display: flex;
 flex-direction: column;
 align-self: flex-end;
 justify-content: center;
 padding-right: 15px;
 height: 200px;

  }
  .description--justify {
    text-align: justify;
    margin-top: 0px;
    color: var(--shining-color-decripstion-grid) ;
    font-size: 14px;
    height: 160px;
  }

 .btn__readdetail {
 list-style: none;
 display: block;
 background-image: var(--shining-background-button-readdetail);
 border: var(--shining-boder-button-readdetail);
 border-radius: 5px;
 box-shadow: 0 1px 3px #000;
 color: var(--shining-color-button-readdetail);
 font: bold 20px/1 helvetica, arial, sans-serif;
 padding: 8px 0 10px 0;
 text-align: center;
 text-decoration: none;
 text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
 font-size: 11px;
 /* width: 85px; */
 /* -webkit-transition: all 0.35s ease-in-out; */
 float: left;
 padding: 10px;
 /* margin: 30px 0px 0xp 0px; */
 margin-bottom: -5px;
 position:relative;
 cursor: pointer;
 }

 .btn__readdetail:hover {
  background-image: var(--shining-background-button-readdetail-hover);
  color: var(--shining-color-button-readdetail);
 }