.div__Dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-right: 2%; */
  color: black;
  padding: 20px;
}
.div__dialog-content {
  width: 65%;
}
.label__content {
  /* min-width: 60px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div__container-label-input {
  margin: 10px;
}
.form__input {
  min-width: 200px;
  max-width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(170, 165, 165);
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.dialog__container-label-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
