.div__ListGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* top: 100px; */
    margin-top: 100px;
    align-content: center;
    /* Che do toi */
    /* background: url("http://skywarriorthemes.com/orizon/blue/images/hot_news_bg.jpg") center top repeat-x #181818; */
}

.flex--row {
    display: flex;
    flex-direction: row;
   align-content: space-evenly;
   align-items: center;
}
.flex--spacebetween{
    justify-content: space-between;
}
.sec-1 {
    margin-left: 5%;
    /* width: 100% */
    /* margin: 0 auto; */
}
.section__year{
    background-image: -webkit-linear-gradient(top, #eef2f5, #a5a9b2);
     height: 55px; 
    width: 150px;
    padding: 5px;
    border-radius: 3px;
    margin-left: 20px;
}
.option__year--margin{
    margin: 10px;
}
/* .search__input{
    height: 35px !important;
} */
.search__input {
    /* transform: translate(14px, 10px) scale(1) !important; */
    /*   */
}