.div__ListGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    margin-top: 100px;
    background: url("http://skywarriorthemes.com/orizon/blue/images/hot_news_bg.jpg") center top repeat-x #181818;
}