.div__ListGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* Che do toi */
  /* background: url("http://skywarriorthemes.com/orizon/blue/images/hot_news_bg.jpg") center top repeat-x #181818; */
}

.flex--row {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  align-items: center;
}
.flex--spacebetween {
  justify-content: space-between;
}
.sec-1 {
  margin-left: 5%;
  /* width: 100% */
  /* margin: 0 auto; */
}
.section__year {
  background-color: #fff;
  border: 1px solid #c5c4c4;
  color: rgba(0, 0, 0, 0.54);
  height: 39px;
  width: 150px;
  padding: 5px;
  border-radius: 3px;
  margin-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}
.option__year--margin {
  margin: 10px;
}

.MuiFormLabel-root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  font-weight: 0 !important;
}
.MuiInputLabel-outlined {
  font-size: 15px !important;
}
.mr-t--100 {
  margin-top: 100px;
}
